@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Light.eot');
  src: url('./font/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
  url('./font/TTLakes-Light.woff') format('woff'),
  url('./font/TTLakes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Medium.eot');
  src: url('./font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('./font/TTLakes-Medium.woff') format('woff'),
  url('./font/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Bold.eot');
  src: url('./font/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('./font/TTLakes-Bold.woff') format('woff'),
  url('./font/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }

:root {
  --main-color-tx: #1B1C21;
  --main-color-br: #41F6D7;
  --main-color-a: #7E7E82;
  --main-br: 1px solid var(--main-color-br);
  --main--bc: rgba(248, 248, 248, 1);
  --main-vw-pseudo-elem: 2px;
  --main-vh-pseudo-elem: 32px;
  --main-bc-pseudo-elem:#80949F;
  
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--main-color-tx);
  font-family: 'TT Lakes', sans-serif;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
a,
button {
  font-size: 16px;
  font-weight: 400;
}
p,
span {
  font-size: 14px;
  font-weight: 300;
}



img {
  display: block;
}


/* Шапка сайта */
header {
  border-bottom: var(--main-br);
}
.header__container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  column-gap: 15px;
  display: flex;
}
.header__right {
  display: flex;
  align-items: center;
}

.header__button {
  border: none;
  background-color: white;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__services {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.header__services--hide {
  display: none;
}
.header__services--with-line::before{
  display: inline-block;
  content: '';
  width: var(--main-vw-pseudo-elem);
  height: var(--main-vh-pseudo-elem);
  background-color: var(--main-bc-pseudo-elem);
}
/* Шапка сайта */

.main__header {
  padding-top: 20px;
}
.main__title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background-color: var(--main-color-br);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 17px;
  text-align: center;
  vertical-align: middle;
}
.main__services {
  display: none;
}

.main__menu {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  column-gap: 10px;
  padding: 20px;
}
.main__link {
  white-space: nowrap;
  padding: 10px 15px;
  display: inline-block;
  color: var(--main-color-a);
}
.main__link-activ {  
  border: var(--main-br);
  border-radius: 5px;
  color: var(--main-color-tx);
  background-color: white;
}
.main__text{
  padding: 0px 20px 10px 20px;
}
.main__paragraph {
  overflow: hidden;
  max-height: 98px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.main__button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}
.main__button-arrow::before {
  display: inline-block;
  content: '';
  background-image: url(./img/main/arrow.png);
  width: 8px;
  height: 11px;
  margin: 10px;
}
.main__img {
 width: 100vw;
}


@media (min-width: 568px) and (max-width: 975px) {
  .header__menu::after {
    content: '';
    display: inline-block;
    width: var(--main-vw-pseudo-elem);
    height: var(--main-vh-pseudo-elem);
    background-color: var(--main-bc-pseudo-elem);
    margin-left: 15px;
  }
  .header__services--hide {
    display: flex;
    padding-right: 15px;
  }

  .main__content {
    display: flex;
  }
  .main__paragraph {
    max-height: 125px;
  }
  .main__img {
    border-radius: 5px;
    padding-right: 20px;
  }
}

@media (min-width: 976px) {
  header {
    display: none;
  }
  .main__header {
    display: flex;
    justify-content: space-between;
  }
  .main__services {
    display: flex;
    column-gap: 10px;
    padding-right: 20px;
  }
  .main__button-submit::after {
    content: '';
    background-image: url(./img/main/repair.png);
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .main__button-status::after {
    content: '';
    background-image: url(./img/main/checkstatus.png);
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .main__menu {
    flex-wrap: wrap;
  }
  .main__content {
    display: flex;
  }
  .main__paragraph {
    max-height: 100%;
  }
  .main__img {
    max-width: 532px;
    border-radius: 5px;
    padding-right: 20px;
  }
}